[submodule "liquidprompt"]
	branch = personal
	ignore = untracked
	path = config_liquidprompt
	url = git@github.com:pkkolos/liquidprompt.git
[submodule "urxvt-scripts"]
	ignore = untracked
	path = urxvt_ext
	url = git@github.com:pkkolos/urxvt-scripts.git
