# It is important that this file is edited as UTF-8.
# The following line should contain a sharp s:
# ß
# If the above line is not correctly displayed, fix your editor first!

general {
    colors = true
    color_good = "#229900"
    color_degraded = "#ffcc11"
    color_bad = "#cc0000"
    interval = 5
}

order += "volume master"
order += "ethernet eth0"
order += "wireless wlan0"
order += "disk /"
order += "disk /home"
order += "cpu_usage"
order += "cpu_temperature 0"
order += "load"
order += "battery 1"
order += "time"

wireless wlan0 {
    format_up = " %bitrate(%quality)  %essid"
    format_down = ""
}

ethernet eth0 {
    format_up = " %ip"
    format_down = ""
}

battery 1 {
    integer_battery_capacity = true
    format = " %percentage %remaining"
    format_down = ""
    low_threshold = 30
    threshold_type = time
}

time {
    format = " %Y-%m-%d %H:%M"
}

cpu_usage {
    format = "%usage"
}

cpu_temperature 0 {
    format = "%degrees°C"
    path = "/sys/devices/platform/coretemp.0/hwmon/hwmon0/temp2_input"
}

load {
    format = "%1min %5min %15min"
    max_threshold = 0.8
}

disk "/" {
    format = "/ %avail"
}

disk "/home" {
    format = "/home %avail"
}

volume master {
    format = " %volume"
    format_muted = ""
    device = "default"
    mixer = "Master"
}
