[calendars]
[[private]]
path = ~/.calendars/private/
type = calendar
[[birthdays]]
path = ~/.calendars/birthdays/
type = calendar
[[anniversaries]]
path = ~/.calendars/anniversaries/
type = calendar
[[contacts]]
path = ~/.contacts/
type = birthdays

[default]
default_calendar = private
highlight_event_days = True

[locale]
timeformat = %H:%M
dateformat = %Y-%m-%d
longdateformat = %Y-%m-%d
datetimeformat = %Y-%m-%d %H:%M
longdatetimeformat = %Y-%m-%d %H:%M
firstweekday = 0
weeknumbers = right
unicode_symbols = False

[highlight_days]
color = dark blue
