sort=-time
font=DejaVu Sans Mono 12
background-color=#191b21e8
text-color=#e7e8ebe8
outer-margin=0,10,0,0
border-color=#262932ff
border-radius=5
progress-color=#1f62b0e8
max-icon-size=48
icon-path=/usr/share/icons/Numix-Circle
default-timeout=5000
ignore-timeout=1
group-by=app-name

[urgency=high]
border-color=#ae110cff
default-timeout=0

[category=mpd]
default-timeout=2000
group-by=category
