# Show file titles (title, author, album) instead of file names?
ReadTags = yes

# In which directory do you store your music files?  If you specify it
# you will be able to jump straight to this directory with the '-m'
# parameter or the 'm' command.  This can also point to a playlist.
MusicDir = "${HOME}/Music"

# Start in the music directory by default?  If set to 'no', start
# in the directory being viewed when the was client last active or,
# as a last resort, the directory in which the client is being started.
# A single directory on the command line takes precedence.
StartInMusicDir = no

# Set playback toggles.
Repeat = no
Shuffle = no
AutoNext = yes

# Default FormatString:
#
#   %n - Track number
#   %a - Artist
#   %A - Album
#   %t - Title
#   %(X:TRUE:FALSE) - Ternary expression: if X exists, do TRUE,
#                     otherwise FALSE.  The escape character must
#                     be doubled (i.e., '\\').  (See zshmisc
#                     documentation for more information.)
#
FormatString = "%(n:%n. :)%(a:%a - :)%(t:%t:)"

# Show files with dot at the beginning?
ShowHiddenFiles = no

# Hide file name extensions?
HideFileExtension = no

# Show file format in menu?
ShowFormat = yes

# Show file time in menu?  Possible values: 'yes', 'no' and 'IfAvailable'
# (meaning show the time only when it is already known, which often works
# faster).
ShowTime = yes

# Show time played as a percentage in the time progress bar.
ShowTimePercent = yes

# Theme file to use.  This can be absolute path or relative to
# /usr/share/moc/themes/ (depends on installation prefix) or
# ~/.moc/themes/ .
Theme = base16

# The theme used when running on an xterm.
#XTermTheme =

# MOC directory (where pid file, socket and state files are stored).
# You can use ~ at the beginning.
#MOCDir = ~/.moc

# Use MIME to identify audio files.  This can make for slower loading
# of playlists but is more accurate than using "extensions".
#UseMimeMagic = no

# Remember the playlist after exit?
#SavePlaylist = yes

# When using more than one client (interface) at a time, do they share
# the playlist?
#SyncPlaylist = yes

# Choose a keymap file (relative to '~/.moc/' or using an absolute path).
# An annotated example keymap file is included ('keymap.example').
#Keymap =

# Use ASCII rather than graphic characters for drawing lines.  This
# helps on some terminals.
#ASCIILines = no

# FastDirs, these allow you to jump directly to a directory, the key
# bindings are in the keymap file.
Fastdir1 = "${HOME}/Downloads/music"

# How fast to seek (in number of seconds per keystroke).  The first
# option is for normal seek and the second for silent seek.
SeekTime = 1
SilentSeekTime = 5

# Number items in the playlist.
PlaylistNumbering = no

# Main window layouts can be configured.  You can change the position and
# size of the menus (directory and playlist).  You have three layouts and
# can switch between then using the 'l' key (standard mapping).  By default,
# only two layouts are configured.
#
# The format is as follows:
#
#     - Each layout is described as a list of menu entries.
#     - Each menu entry is of the form:
#
#           menu(position_x, position_y, width, height)
#
#       where 'menu' is either 'directory' or 'playlist'.
#     - The parameters define position and size of the menu.  They can
#       be absolute numbers (like 10) or a percentage of the screen size
#       (like 45%).
#     - 'width' and 'height' can have also value of 'FILL' which means
#        fill the screen from the menu's position to the border.
#     - Menus may overlap.
#
# You must describe at least one menu (default is to fill the whole window).
# There must be at least one layout (Layout1) defined; others can be empty.
Layout1 = directory(0,0,50%,100%):playlist(50%,0,FILL,100%)
Layout2 = directory(0,0,100%,100%)
Layout3 = directory(0,0,100%,90%):playlist(0,90%,100%,10%)

# When the song changes, should the menu be scrolled so that the currently
# played file is visible?
FollowPlayedFile = yes

# What to do if the interface was started and the server is already playing
# something from the playlist?  If CanStartInPlaylist is set to 'yes', the
# interface will switch to the playlist.  When set to 'no' it will start
# from the last directory.
CanStartInPlaylist = yes

# Set the terminal title when running under xterm.
SetXtermTitle = yes

# Set the terminal title when running under screen(1).  If MOC can detect
# that it is running under screen(1), then it will set an appropriate
# title (see description of ScreenTerms above).  However, if multiple
# levels of screen management are involved, detection might fail and this
# could cause a screen upset.  In that situation you can use this option
# to force screen titles off.
SetScreenTitle = yes

# Display full paths instead of just file names in the playlist.
PlaylistFullPaths = no
