defaults
protocol smtp
port 587
tls on
tls_certcheck on
tls_trust_file system
syslog LOG_MAIL
logfile ~/.local/share/msmtp/msmtp.log

account gmail
host smtp.gmail.com
from $username$@gmail.com
user $username$@gmail.com
auth oauthbearer
passwordeval oauth2get gmail $username$@gmail.com

account outlook
host smtp-mail.outlook.com
from $username$@hotmail.com
user $username$@hotmail.com
auth xoauth2
passwordeval oauth2get outlook $username$@hotmail.com

account default : gmail
