spawn-at-startup "swaybg" "-i" "/home/panagiotis/Pictures/.wallpaper"
spawn-at-startup "xwayland-satellite"

screenshot-path "~/Pictures/Screenshots/Screenshot from %Y-%m-%d %H-%M-%S.png"
prefer-no-csd

environment {
    DISPLAY ":0"
    XDG_CURRENT_DESKTOP "niri:GNOME"
}

input {
    keyboard {
        xkb {
            layout "us,gr"
            variant "altgr-intl,basic"
            options "grp:win_space_toggle,lvl3:ralt_switch,compose:rwin"
        }

        track-layout "global"
    }

    mouse {
        accel-speed 0.0
        accel-profile "flat"
    }

    touchpad {
        off
    }

    trackpoint {
        off
    }

    mod-key "Super"
    disable-power-key-handling
    focus-follows-mouse max-scroll-amount="35%"
}

output "DP-3" {
    // off
    mode "1920x1080@60.000"
    scale 1
    transform "normal"
    position x=0 y=0
    focus-at-startup
}

output "HDMI-A-1" {
    // off
    mode "1920x1080@60.000"
    scale 1
    transform "normal"
    position x=1920 y=0
}

layout {
    gaps 9
    center-focused-column "never"
    background-color "transparent"

    default-column-width {}

    preset-column-widths {
        proportion 0.33333
        proportion 0.5
        proportion 0.66667
    }

    preset-window-heights {
        proportion 0.33333
        proportion 0.5
        proportion 0.66667
    }

    focus-ring {
        // off
        width 4
        active-color "#d3dae3"
        inactive-color "#191b21"
        urgent-color "#ae110c"
    }

    border {
        off
    }

    tab-indicator {
        width 3
        gap 5
    }

    insert-hint {
        color "#1f62b090"
    }

    struts {
        left 10
        right 10
    }
}

overview {
    backdrop-color "#191b21"
}

animations {
    workspace-switch {
        off
    }
}

clipboard {
    disable-primary
}

hotkey-overlay {
    skip-at-startup
}

workspace "home"     { open-on-output "DP-3"; }
workspace "terminal" { open-on-output "DP-3"; }
workspace "code"     { open-on-output "DP-3"; }
workspace "browser"  { open-on-output "DP-3"; }
workspace "files"    { open-on-output "DP-3"; }
workspace "videos"   { open-on-output "DP-3"; }
workspace "other"    { open-on-output "DP-3"; }
workspace "mail"     { open-on-output "HDMI-A-1"; }
workspace "chat"     { open-on-output "HDMI-A-1"; }
workspace "music"    { open-on-output "HDMI-A-1"; }

window-rule {
    match app-id="Nautilus$"

    open-on-workspace "files"
    open-maximized true
}

window-rule {
    match app-id="^mpv$"

    open-on-workspace "videos"
    open-focused true
    open-fullscreen true
}

window-rule {
    match app-id="firefox$"
    exclude title="^About"
    exclude title="^Opening"
    exclude title="^Picture-in-Picture$"

    open-on-workspace "browser"
    open-maximized true
}

window-rule {
    match app-id="firefox$" title="^Opening"

    open-focused true
}

window-rule {
    match app-id="firefox$" title="^Picture-in-Picture$"

    open-floating true
    default-floating-position x=20 y=10 relative-to="bottom-right"
}

window-rule {
    match app-id="Calculator$"
    match app-id="firefox$" title="^About"
    match app-id="gcolor3"
    match app-id="qalculate-gtk"

    open-floating true
}

window-rule {
    match app-id="PrismLauncher$"
    match app-id="^steam$"

    open-on-workspace "other"
    open-maximized true
}

window-rule {
    match app-id="factorio"
    match app-id="^Minecraft"

    open-on-workspace "other"
    open-focused true
}

window-rule {
    match title="^Mindustry$"

    open-on-workspace "other"
    open-fullscreen true
    open-focused true
}

window-rule {
    match app-id=r#"^org\.keepassxc\.KeePassXC$"#
    match app-id=r#"^org\.gnome\.World\.Secrets$"#

    block-out-from "screen-capture"
}

binds {
    Mod+Escape allow-inhibiting=false { toggle-keyboard-shortcuts-inhibit; }

    Mod+T                    { spawn "alacritty"; }
    Mod+D       repeat=false { spawn "fuzzel"; }
    Mod+L       repeat=false { spawn "loginctl" "lock-session"; }
    Mod+Shift+E repeat=false { quit; }
    Mod+Shift+P repeat=false { power-off-monitors; }
    Mod+Shift+Q repeat=false { spawn "nwg-bar"; }

    Mod+Q { close-window; }

    Mod+Left      { focus-column-left; }
    Mod+Down      { focus-window-down; }
    Mod+Up        { focus-window-up; }
    Mod+Right     { focus-column-right; }
    Mod+Alt+Left  { move-column-left; }
    Mod+Alt+Down  { move-window-down; }
    Mod+Alt+Up    { move-window-up; }
    Mod+Alt+Right { move-column-right; }

    Mod+Home     { focus-column-first; }
    Mod+End      { focus-column-last; }
    Mod+Alt+Home { move-column-to-first; }
    Mod+Alt+End  { move-column-to-last; }

    Mod+H     { focus-monitor-left; }
    Mod+N     { focus-monitor-right; }

    Mod+Page_Down     { focus-workspace-down; }
    Mod+Page_Up       { focus-workspace-up; }

    Mod+WheelScrollDown      cooldown-ms=150 { focus-workspace-down; }
    Mod+WheelScrollUp        cooldown-ms=150 { focus-workspace-up; }

    Mod+Shift+WheelScrollDown      { focus-column-right; }
    Mod+Shift+WheelScrollUp        { focus-column-left; }
    Mod+Ctrl+Shift+WheelScrollDown { move-column-right; }
    Mod+Ctrl+Shift+WheelScrollUp   { move-column-left; }

    Mod+1       { focus-workspace "home"; }
    Mod+2       { focus-workspace "terminal"; }
    Mod+3       { focus-workspace "code"; }
    Mod+4       { focus-workspace "browser"; }
    Mod+5       { focus-workspace "files"; }
    Mod+6       { focus-workspace "videos"; }
    Mod+7       { focus-workspace "other"; }
    Mod+8       { focus-workspace "mail"; }
    Mod+9       { focus-workspace "chat"; }
    Mod+0       { focus-workspace "music"; }
    Mod+Shift+1 { move-column-to-workspace focus=false "home"; }
    Mod+Shift+2 { move-column-to-workspace focus=false "terminal"; }
    Mod+Shift+3 { move-column-to-workspace focus=false "code"; }
    Mod+Shift+4 { move-column-to-workspace focus=false "browser"; }
    Mod+Shift+5 { move-column-to-workspace focus=false "files"; }
    Mod+Shift+6 { move-column-to-workspace focus=false "videos"; }
    Mod+Shift+7 { move-column-to-workspace focus=false "other"; }
    Mod+Shift+8 { move-column-to-workspace focus=false "mail"; }
    Mod+Shift+9 { move-column-to-workspace focus=false "chat"; }
    Mod+Shift+0 { move-column-to-workspace focus=false "music"; }

    Mod+BracketLeft  { consume-or-expel-window-left; }
    Mod+BracketRight { consume-or-expel-window-right; }
    Mod+Comma        { consume-window-into-column; }
    Mod+Period       { expel-window-from-column; }

    Mod+C       { center-column; }
    Mod+Alt+C   { center-visible-columns; }
    Mod+R       { switch-preset-column-width; }
    Mod+Shift+R { switch-preset-window-height; }
    Mod+Ctrl+R  { reset-window-height; }
    Mod+F       { maximize-column; }
    Mod+Alt+F   { expand-column-to-available-width; }
    Mod+Shift+F { fullscreen-window; }
    Mod+Ctrl+F  { toggle-windowed-fullscreen; }

    Mod+Shift+BracketLeft      { set-column-width  "-10%"; }
    Mod+Shift+BracketRight     { set-column-width  "+10%"; }
    Mod+Alt+Shift+BracketLeft  { set-window-height "-10%"; }
    Mod+Alt+Shift+BracketRight { set-window-height "+10%"; }

    Mod+W     { toggle-column-tabbed-display; }
    Mod+V     { toggle-window-floating; }
    Mod+Alt+V { switch-focus-between-floating-and-tiling; }

    Print       { screenshot; }
    Ctrl+Print  { screenshot-window; }
    Shift+Print { screenshot-screen; }

    XF86AudioRaiseVolume allow-when-locked=true {
        spawn "wpctl" "set-volume" "@DEFAULT_AUDIO_SINK@" "5%+"
    }
    XF86AudioLowerVolume allow-when-locked=true {
        spawn "wpctl" "set-volume" "@DEFAULT_AUDIO_SINK@" "5%-"
    }
    XF86AudioMute        allow-when-locked=true {
        spawn "wpctl" "set-mute" "@DEFAULT_AUDIO_SINK@" "toggle"
    }
    XF86AudioMicMute     allow-when-locked=true {
        spawn "wpctl" "set-mute" "@DEFAULT_AUDIO_SOURCE@" "toggle"
    }
    XF86AudioPlay        allow-when-locked=true { spawn "mpc" "-q" "toggle"; }
    XF86AudioStop        allow-when-locked=true { spawn "mpc" "-q" "stop"; }
    XF86AudioNext        allow-when-locked=true { spawn "mpc" "-q" "next"; }
    XF86AudioPrev        allow-when-locked=true { spawn "mpc" "-q" "prev"; }
}
