[general]
ui = ttyui
accounts = Gmail,Outlook
maxsyncaccounts = 2
metadata = ~/.local/share/offlineimap
pythonfile = ~/.local/share/offlineimap/offlineimap.py

[mbnames]
enabled = yes
filename = ~/.mutt/mailboxes
header = "mailboxes \\\n  "
peritem = "+%(accountname)s/%(foldername)s"
sep = " \\\n  "
footer = "\n"

[Account Gmail]
localrepository = Gmail-Local
remoterepository = Gmail-Remote
status_backend = sqlite
postsynchook = notmuch new

[Account Outlook]
localrepository = Outlook-Local
remoterepository = Outlook-Remote
status_backend = sqlite
postsynchook = notmuch new

[Repository Gmail-Local]
type = Maildir
localfolders = ~/.mail/Gmail
nametrans = lambda folder: nt_local(gmail_map, folder)

[Repository Outlook-Local]
type = Maildir
localfolders = ~/.mail/Outlook
nametrans = lambda folder: nt_local(outlook_map, folder)

[Repository Gmail-Remote]
type = Gmail
remoteusereval = get_username("gmail")
remotepasseval = get_password("gmail")
maxconnections = 3
nametrans = lambda folder: nt_remote(gmail_map, folder)
folderfilter = lambda folder: folder not in gmail_filter
ssl_version = tls1_2
tls_level = tls_secure
auth_mechanisms = GSSAPI, CRAM-MD5, PLAIN, LOGIN
sslcacertfile = /etc/ssl/certs/ca-certificates.crt

[Repository Outlook-Remote]
type = IMAP
remotehost = imap-mail.outlook.com
remoteusereval = get_username("hotmail")
remotepasseval = get_password("hotmail")
maxconnections = 1
nametrans = lambda folder: nt_remote(outlook_map, folder)
folderfilter = lambda folder: folder not in outlook_filter
ssl = yes
ssl_version = tls1
tls_level = tls_no_ssl
auth_mechanisms = GSSAPI, CRAM-MD5, PLAIN, LOGIN
sslcacertfile = /etc/ssl/certs/ca-certificates.crt
