[colours]
bg = #191b21
bg_alt = #2f343f
fg = #e7e8eb
fg_alt = #d3dae3
empty_icon = #454c5c
status_icon = #5c616c
blue = #1f62b0
red = #ae110c


[bar/panel]
monitor = ${env:MONITOR:eDP-1}
override_redirect = true

width = 100%
height = 32
offset-x = 0
offset-y = 0

background = ${colours.bg}
foreground = ${colours.fg}

spacing = 1
padding-left = 0
padding-right = 1
module-margin-left = 0
module-margin-right = 0

underline-size = 2

font-0 = NotoMono:size=10;0
font-1 = FontAwesome:size=10;0

modules-left = bspwm mpd
modules-center =
modules-right = xwindow wlan volume battery date clock powermenu

tray-position = right
tray-padding = 0

wm-restack = bspwm


[module/bspwm]
type = internal/bspwm

ws-icon-0 = home;
ws-icon-1 = terminal;
ws-icon-2 = code;
ws-icon-3 = browser;
ws-icon-4 = files;
ws-icon-5 = videos;
ws-icon-6 = other;
ws-icon-7 = mail;
ws-icon-8 = chat;
ws-icon-9 = music;
ws-icon-default = 

format = <label-monitor> <label-state> <label-mode>
format-margin = 1

label-monitor = %name%
label-monitor-foreground = ${colours.bg}
label-monitor-background = ${colours.blue}
label-monitor-padding = 1

label-focused = %icon%
label-focused-background = ${colours.bg_alt}
label-focused-underline = ${colours.blue}
label-focused-padding = 1

label-occupied = %icon%
label-occupied-padding = 1

label-urgent = %icon%
label-urgent-background = ${colours.red}
label-urgent-padding = 1

label-empty = %icon%
label-empty-foreground = ${colours.empty_icon}
label-empty-padding = 1

label-monocle = 
label-monocle-foreground = ${colours.blue}


[module/mpd]
type = internal/mpd

format-online = <icon-prev> <icon-stop> <toggle> <icon-next> <label-song>
format-online-background = ${colours.bg_alt}
format-online-padding = 1

format-offline-background = ${colours.bg_alt}
format-offline-padding = 1

label-song-maxlen = 50

icon-prev = 
icon-stop = 
icon-play = 
icon-pause = 
icon-next = 


[module/xwindow]
type = internal/xwindow

format-foreground = ${colours.fg_alt}

label = %title%
label-maxlen = 50
label-margin-right = 2


[module/wlan]
type = internal/network
interface = wlp3s0
interval = 10

format-connected = <label-connected>
format-connected-margin = 1
format-connected-prefix = " "
format-connected-prefix-foreground = ${colours.status_icon}

format-disconnected-margin = 1

label-connected = %essid%
label-connected-foreground = ${colours.fg_alt}

label-disconnected = " "
label-disconnected-foreground = ${colours.status_icon}


[module/volume]
type = internal/volume

format-volume = <ramp-volume> <label-volume>
format-volume-margin = 1

format-muted-margin = 1

label-volume = %percentage%
label-volume-foreground = ${colours.fg_alt}

label-muted = 
label-muted-foreground = ${colours.status_icon}

ramp-volume-0 = 
ramp-volume-1 = 
ramp-volume-2 = 
ramp-volume-foreground = ${colours.status_icon}


[module/battery]
type = internal/battery
battery = BAT0
adapter = AC0
poll-interval = 30

format-charging = <ramp-capacity> <label-charging>
format-charging-padding = 1

format-discharging = <ramp-capacity> <label-discharging>
format-discharging-padding = 1

format-full = <ramp-capacity> <label-full>
format-full-padding = 1

label-charging-foreground = ${colours.fg_alt}
label-discharging-foreground = ${colours.fg_alt}
label-full-foreground = ${colours.fg_alt}

ramp-capacity-0 = 
ramp-capacity-1 = 
ramp-capacity-2 = 
ramp-capacity-3 = 
ramp-capacity-4 = 
ramp-capacity-foreground = ${colours.status_icon}


[module/date]
type = internal/date
interval = 5

format-margin = 1
format-prefix = " "
format-prefix-foreground = ${colours.status_icon}

label = %date%
label-foreground = ${colours.fg_alt}

date = %a, %b %d


[module/clock]
type = internal/date
interval = 5

format-margin = 1
format-prefix = " "
format-prefix-foreground = ${colours.status_icon}

label = %time%
label-foreground = ${colours.fg_alt}

time = %R %Z


[module/powermenu]
type = custom/menu

label-open = 
label-open-foreground = ${colours.red}

label-close =  cancel
label-close-foreground = ${colours.red}

label-separator = |
label-separator-foreground = ${colours.status_icon}

menu-0-0 = logout
menu-0-0-exec = loginctl terminate-session $XDG_SESSION_ID
menu-0-0-foreground = ${colours.fg_alt}
menu-0-1 = suspend
menu-0-1-exec = systemctl suspend
menu-0-1-foreground = ${colours.fg_alt}
menu-0-2 = reboot
menu-0-2-exec = systemctl reboot
menu-0-2-foreground = ${colours.fg_alt}
menu-0-3 = power off
menu-0-3-exec = systemctl poweroff
menu-0-3-foreground = ${colours.fg_alt}

; vim:ft=dosini
