[colours]
ddgray = #75191b21
dgray = #752f343f
gray = #cc454c5c
lgray = #cca0a4ae
llgray = #ccd3dae3
white = #cce7e8eb
blue = #cc1f62b0
red_bg = #75ae110c
red_fg = #ccae110c


[bar/panel]
override-redirect = true

width = 100%
height = 30
offset-x = 0
offset-y = 0

background = ${colours.ddgray}
foreground = ${colours.white}

padding = 0
module-margin = 0

underline-size = 3
underline-color = ${colours.dgray}

font-0 = FontAwesome:size=10;2
font-1 = DejaVuSansMono:size=10;2

modules-left = bspwm mpd
modules-center =
modules-right = keyboard sep1 eth sep2 volume sep3 date sep4 clock

tray-position = right
tray-padding = 0
tray-background = ${colours.blue}

wm-restack = bspwm


[module/bspwm]
type = internal/bspwm

ws-icon-0 = home;
ws-icon-1 = terminal;
ws-icon-2 = code;
ws-icon-3 = browser;
ws-icon-4 = files;
ws-icon-5 = videos;
ws-icon-6 = other;
ws-icon-7 = mail;
ws-icon-8 = chat;
ws-icon-9 = music;
ws-icon-default = 

format = "%{+u}  <label-state>%{+u}%{u-}  <label-mode> %{-u}"

label-focused = %icon%
label-focused-background = ${colours.dgray}
label-focused-underline = ${colours.blue}
label-focused-padding = 3

label-occupied = %icon%
label-occupied-underline = ${colours.dgray}
label-occupied-padding = 3

label-urgent = %icon%
label-urgent-background = ${colours.red_bg}
label-urgent-underline = ${colours.llgray}
label-urgent-padding = 3

label-empty = %icon%
label-empty-foreground = ${colours.gray}
label-empty-underline = ${colours.dgray}
label-empty-padding = 3

label-monocle = "  "
label-monocle-foreground = ${colours.blue}
label-monocle-padding = 1

label-floating = "  "
label-floating-foreground = ${colours.blue}
label-floating-padding = 1

label-locked = "  "
label-locked-foreground = ${colours.red_fg}
label-locked-padding = 1


[module/mpd]
type = internal/mpd

format-online = "<icon-prev>  <icon-stop>  <toggle>  <icon-next>    <icon-random> <icon-repeat> <icon-single> <icon-consume>    <label-song> <label-time>"
format-online-background = ${colours.dgray}
format-online-padding = 3

format-stopped = "<icon-play>"

format-offline = "<label-offline>"
format-offline-background = ${colours.dgray}
format-offline-padding = 3

label-song = "%artist% - %title%"
label-song-maxlen = 50
label-time = "(%elapsed:05%/%total:05%)"
label-offline = "  Offline"

icon-prev = 
icon-stop = 
icon-play = 
icon-pause =  
icon-next = 
icon-random = 
icon-repeat = 
icon-single = 
icon-consume = 

toggle-on-foreground = ${colours.lgray}
toggle-off-foreground = ${colours.gray}


[module/separator]
type = custom/text
content = "|"
content-foreground = ${colours.gray}


[module/keyboard]
type = internal/xkeyboard

format = <label-layout>
format-margin = 2
format-prefix = "  "

label-layout = %layout%


[module/sep1]
inherit = module/separator


[module/eth]
type = internal/network
interface = enp37s0
interval = 10

format-connected = <label-connected>
format-connected-margin = 2
format-connected-prefix = "  "

label-connected = %local_ip%

format-disconnected = <label-disconnected>
format-disconnected-margin = 2
format-disconnected-prefix = "  "
format-disconnected-foreground = ${colours.red_fg}

label-disconnected = "Disconnected"


[module/sep2]
inherit = module/separator


[module/volume]
type = internal/pulseaudio

format-volume = "<ramp-volume> <label-volume>"
format-volume-margin = 2

label-volume = %percentage%%

format-muted-margin = 2

label-muted = 

ramp-volume-0 = " "
ramp-volume-1 = " "
ramp-volume-2 = " "


[module/sep3]
inherit = module/separator


[module/date]
type = internal/date
interval = 5

format-margin = 2
format-prefix = "  "

label = %date%

date = %a, %b %d


[module/sep4]
inherit = module/separator


[module/clock]
type = internal/date
interval = 5

format-margin = 2
format-prefix = "  "

label = %time%

time = %R %Z

; vim:ft=dosini
