rofi.width: 450
rofi.location: 2

rofi.font: FontAwesome 11

rofi.bw: 2
rofi.padding: 8
rofi.separator-style: solid
rofi.scroll-method: 1
rofi.hide-scrollbar: true
rofi.sidebar-mode: false

rofi.color-enabled: true

! State            bg,      fg,      bgalt,   hlbg,    hlfg
rofi.color-normal: #191b21, #5c616c, #191b21, #262932, #cfd6f6
rofi.color-active: #191b21, #1f62b0, #191b21, #262932, #1f62b0
rofi.color-urgent: #191b21, #ae110c, #191b21, #262932, #ae110c

!                  bg,      border
rofi.color-window: #191b21, #262932

! vim: ft=xdefaults
