[Unit]
Description=Mailbox synchronization service
Documentation=man:mbsync(1)

[Service]
Type=oneshot
Environment=NOTMUCH_CONFIG=%E/notmuch/config
ExecStart=/usr/bin/mbsync -V -a
ExecStartPost=/usr/bin/notmuch new
